<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입...</title>
</head>
<body>
	<div th:replace="~{header}"></div>
	<div id="content">
		<div class="wrap">
			<div id="content_join">
			<h2>회원 가입</h2>
			<form th:action="@{/member/join}" method="post" name="joinform" th:object="${memberDTO}">
					<div class="input-group mb-3">
			          <label for="memberEmail">이메일</label>
			          	<div class="input-group">
				            <input type="text" class="form-control" th:field="*{memberId}" placeholder="ID" onblur="checkId()" required>
				            <p th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" class="error"></p>
			         	</div>
			          <p id="check-result"></p>
			        </div>
					<div class="mb-3">
			          <label for="memberPassword">비밀번호</label>
			          <div class="input-group">
			            <input type="password" class="form-control" th:field="*{password}" placeholder="영문자, 숫자, 특수문자 포함 8자 이상" required>
			            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></p>
			          </div>
			        </div>
					<div class="mb-3">
			          <label for="memberPassword2">비밀번호 확인</label>
			          <div class="input-group">
			            <input type="password" class="form-control" placeholder="비밀번호 확인" required>
			          </div>
			        </div>
					<div class="mb-3">
			          <label for="memberName">이름</label>
			          <div class="input-group">
			            <input type="text" class="form-control" th:field="*{name}" placeholder="한글만 입력" required>
			            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>
			          </div>
			        </div>
			        <div class="mb-3">
			        	<input class="btn btn-secondary" type="submit" th:onclick="checkMember()" value="등록">
						<input class="btn btn-secondary" type="reset" value="취소">
			        </div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="~{footer}"></div>
<script>
	const checkId = function(){
		let inputId = document.getElementById("memberId").value;
		let checkResult = document.getElementById("check-result");
		
		if(inputEmail != null && inputEmail != ""){
			$.ajax({
				//요청방식, url, data, 함수 - (성공, 실패)
				type: "POST",
				url: "/member/checkId",
				data:{memberId: inputId},
				success: function(res){
					if(res == "OK"){
						checkResult.innerHTML = "사용가능한 이메일입니다.";
						checkResult.style.color = "blue";
					}else{
						checkResult.innerHTML = "이미 가입된 이메일입니다.";
						checkResult.style.color = "red";
					}
				},
				error: function(err){
				}
			})
		}else{
			checkResult.innerHTML = "아이디를 입력하세요.";
			checkResult.style.color = "red";
		}
	}
</script>
</body>
</html>