<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>대문...</title>
</head>
<body>
	<div th:replace="~{header}"></div>

<h2>지진해일대피소 정보</h2>

<input type="button" value="실행" id="btn">

<table id="result">

<thead>

<tr>

<th>일련번호</th>

<th>시도명</th>

<th>시군구명</th>

<th>대피장소명</th>

<th>주소</th>

<th>경도</th>

<th>위도</th>

<th>수용가능인원(명)</th>

<th>해변으로부터의거리</th>

<th>내진적용여부</th>

<tr>

</thead>

<tbody>
</tbody>

</table>
	<div th:replace="~{footer}"></div>

<script>

$(function() {

$("#btn").click(function() {

$.ajax({

type : "GET",

url: "https://apis.data.go.kr/1741000/TsunamiShelter3/getTsunamiShelter1List"

+ "?serviceKey=pZIPx6rGWghV%2FnfyNbIb%2F%2BdtiOcNqfETtzb11gxLE1FYTMqF76zPptT2EFFcaFWMJOOPPUz2C1v9a8SUQ04c5g%3D%3D"

+ "&pageNo=1&numOfRows=20&type=json",

dataType: "json",

success : function(data) {

var itemArr = data.TsunamiShelter[1].row;

var value = "";

for(var i = 0; i < itemArr.length; i++) {

var item = itemArr[i];

value += "<tr>"

+ "<td>" + item.id + "</td>"

+ "<td>" + item.sido_name + "</td>"

+ "<td>" + item.sigungu_name + "</td>"

+ "<td>" + item.shel_nm + "</td>"

+ "<td>" + item.address + "</td>"

+ "<td>" + item.lon + "</td>"

+ "<td>" + item.lat + "</td>"

+ "<td>" + item.shel_av + "</td>"

+ "<td>" + item.lenth + "</td>"

+ "<td>" + item.seismic + "</td>"

+ "</tr>"

}

$("#result tbody").html(value);

},

error : function() {
	console.log("ajax 통신 실패!");
}

});

});

});

</script>
</body>
</html>